form {
    max-width: 500px;
    margin: 0 auto;
}

.form {
    background: #0e101c;
    max-width: 400px;
    margin: 0 auto;
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

label {
    text-align: left;
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #004aad;
}

input[type="submit"] {
    background: #004aad;
    color: white;
    text-transform: uppercase;
    border: none;
    margin: 40px 0  ;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
}

input[type="submit"]:hover {
    background: #004badd3;
}

.bouton-annuler {
    background: #ad0000;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
    text-decoration: none;
    display: block;
}

.bouton-annuler:hover {
    background: #ad0000d3;
    color: white;
   
}